{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}Stříkané izolační pěny{% endblock %}
{% block description %}{{ parent() }}Provádíme zateplování stříkanou pěnou. Pěnová izolace pro zateplení domu za jediný den.{% endblock %}
{% block keywords %}{{ parent() }}zateplování, zateplování domu, izolace, pěnová izolace, izolační pěny, stříkané izolační pěny, stříkané pěny,{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .page-section {
            padding: 95px 0 100px 0;
        }
    </style>
{%  endblock %}

{% block body %}
    <header class="masthead" style="background-image: url({{ asset('img/bg-diamant-uvod.jpg') }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <div class="intro-text">
                        <div class="intro-lead-in">Jsme&nbsp;aplikátor stříkané&nbsp;izolační&nbsp;pěny</div>
                        <div class="text-danger intro-heading text-uppercase">Proč izolovat s&nbsp;námi?</div>
                        <div class="text-danger intro-heading text-success"></div>
                        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Více
                            informací</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Services -->
    <section class="page-section bg-light" id="services" style="background-image: url({{ asset('img/bg-diamant-uvod-vice-informaci.jpg') }});">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Diamant</h2>
                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-warning">
                    <h4 class="text-white my-0 font-weight-normal">Pěnová izolace pro zateplení domu</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><span class="text-danger">400Kč</span> <small class="text-muted">/ 20cm /
                            m<sup>2</sup></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-check-circle fa-stack-1x text-success"></i>
                            </span>
                            Rychlost aplikace do Vašeho interiéru - za jediný den.
                        </li>
                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-check-circle fa-stack-1x text-success"></i>
                            </span>
                            Nulové tepelné ztráty - chladivé klima v létě, útulné teplo v zimě
                        </li>
                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-check-circle fa-stack-1x text-success"></i>
                            </span>
                            Nezávadnost - nežádoucí vlhkost, zima nebo plísně nepronikají do domu
                        </li>
                        <li>
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-check-circle fa-stack-1x text-success"></i>
                            </span>
                            Vysoký standard - naše materiály testujeme a podrobujeme různým zkouškám
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/diamant.js') }}"></script>
{% endblock %}